.holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: initial;
    border: 3px solid #000;
    width: 50%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item {
    text-align: center;
    flex:0 1 20%;
}

.item:nth-of-type(1) {
    background-color: indianred;
    order: -1;
    flex-basis: 50%;
}

.item:nth-of-type(2) {
    background-color: lightseagreen;
    flex-basis: 33%;
    order: 1;
}

.item:nth-of-type(3) {
    background-color: blueviolet;
    flex-basis: 33%;
    order: 0;
}

.item:nth-of-type(4) {
    background-color: green;
    order:1;
    flex-basis: 33%;
}

.item:nth-of-type(5) {
    background-color: orange;
    flex-basis: 50%;
    order: -1;
}