body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #ffcc01;
}

.logo {
	position: relative;
	right: 15px;
	margin: 10px 0 10px 20px;

}

.unstyled-list {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.unstyled-list li {
	padding: 35px 10px;
}

li  a{
	color: #000;
	text-decoration: none;
	position: relative;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	min-height: calc(90vh - 83px);
}

.section {
	flex-grow: 2;
}

.aside1 {
	background-color: blueviolet;
	order: -1;
	min-width: 210px;
}

.aside2 {
	background-color: cornflowerblue;
	order: 1;
	min-width: 210px;
}

.footer {
	text-align: center;
	background-color: green;
	min-height: 40px;
}

footer a {
	position: relative;
	transform: translate(0, 7px);
	color: #000;
	text-decoration: none;
}

.card-holder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 200px;
	border: 2px solid #000;
	border-radius: 6px;
	margin: 7px;
}

/* .card1, .card2, .card3, .card4, .card5, .card6:hover {
	position: absolute;
	z-index: 3;
	background-color: burlywood;
	transition: all .3s ease-in-out;
} */

.card img {
	position: relative;
	transform: translate(64px,5px);
	width: 60px;
	height: 60px;
	border: 10px solid blueviolet;
	border-radius: 50%;
}

.card h2 {
	font-size: 16px;
}

.card span {
	font-size: 13px;
}

button {
	position: relative;
	left:80px;
	border: none;
	border-radius: 10px;
	background-color: darkmagenta;
	color: #fff;
	max-width: 40px;
	max-height: 20px;
}

.card2 button{
	position: relative;
	top: 60px;
}

.card3 button {
	position: relative;
	top: 30px;
}

.card4 button {
	position: relative;
	top: 43px;
}

a {
	position: relative;
}

a:hover::before {
    width: 100%;
    left: 0;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: -3px;
    background-color: #ffcc01;
    transition: all 0.3s ease-in-out;
}